$color-dark: #373737;
$color-white: #e5e5e5;
$color-gray: #c5c5c5;
$color-light-gray: #e0e0e0;
$color-light-blue: #98c1d9ff;
$color-blue: #22577aff;
$color-yellow: #f6ae2dff;
$color-red: #f26419ff;
$color-green: #adfc92ff;
